<ion-content>
  <h1>7 minute Exercise</h1>
  <h2>list of exercise for exam stress issue </h2>
  <br><br>
  <ion-card>
  <!-- data for exercise -->
  <ion-button (click)="btnExercise1()" class="text"><img class="img1" src="https://i.postimg.cc/zf5v1mYh/seated-Twist.png"/> Seatedtwist</ion-button>
  <br>
  <ion-button (click)="btnExercise1()" class="text"><img class="img1" src="https://i.postimg.cc/PrvVgJHC/easyPose.png"/> Easy Pose</ion-button>
  <br>
  <ion-button (click)="btnExercise1()" class="text"><img class="img1" src="https://i.postimg.cc/HsPH2V2j/cow-Face-removebg-preview.png"/>Cow face</ion-button>
  <br>
  <ion-button (click)="btnExercise1()" class="text"><img class="img1" src="https://i.postimg.cc/QxYHzkJb/cobbler-pose.png"/>Cobbler</ion-button>
</ion-card>
<div>
  <ion-button (click)="btnCliked()" class="back">back</ion-button>
</div>
</ion-content>
