<ion-content>
<h1>What's your goal?</h1>
<h2>i want to ....</h2>
  <ion-grid>
     <ion-row>
       <ion-col>
         <div>
          <ion-img src="https://i.postimg.cc/mkYVm4kQ/reduce-anxiety-1.png"></ion-img>
         </div>
          <div class="Goal1">reduce anxiety</div>
       </ion-col>
       <ion-col>
         <div>
          <ion-img src="https://i.postimg.cc/MG65tgJB/fix-negative-thinking.png"></ion-img>
         </div>
         <div class="Goal2">fix negative thinking</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
         <ion-img src="https://i.postimg.cc/YChqgChL/improve-sleep.png"></ion-img>
        </div>
         <div class="Goal3">improve sleep</div>
      </ion-col>
      <ion-col>
        <div>
         <ion-img src="https://i.postimg.cc/ncnXsx4q/improve-self-esteem.png"></ion-img>
        </div>
        <div class="Goal4">improve sellf-esteem</div>
     </ion-col>
   </ion-row>
  </ion-grid>
  <ion-button (click)="btnCliked()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
</ion-content>
