ion-content{
    --background:#F9E4C8;
}
h1{
    margin-top: 40px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 230%;
}
h2{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 130%;
}
.backbtn{
    margin-top: 10px;
    margin-left: 140px;
    --background:#CEE5D0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    --color:black;
}
